.information-frame {
  background: linear-gradient(236.67deg, #2E004F 0.06%, #3B0A6D 49.52%, #0F1C3D 99.94%);
  width: 100%;
  min-height: 100vh; 
  position: relative; 
  overflow-y: auto;
  padding: 0px;
  color: white;
}

.table-dark {
    --bs-table-color: white;
    --bs-table-bg: transparent;
    --bs-table-border-color:gray;
    --bs-table-striped-bg: transparent;
    --bs-table-striped-color:white;
    --bs-table-active-bg:transparent;
    --bs-table-active-color:gray;
    --bs-table-hover-bg: transparent;
    --bs-table-hover-color: transparent;
    border-color: transparent;
}

.table-wrapper {
  border: 2px solid gray;      
  border-radius: 7px;          
  overflow: hidden;            
  width: none;          
  margin: 0 auto;              
  box-sizing: border-box;
}

.bg-transparent {
    --bs-bg-opacity: 1;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #0E0124 !important;
}

.bg-info {
    --bs-bg-opacity: 1;
    background-color: rgba(217, 217, 217, 0.18) !important;
}

.text-center {
    text-align: center !important;
    color: white;
}

.form-control::placeholder {
  color: #959aa4 !important; 
  opacity: 1;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #07B951;
    --bs-btn-border-color: #07B951;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #07B951;
    --bs-btn-hover-border-color: #07B951;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #07B951;
    --bs-btn-active-border-color: #07B951;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #07B951;
    --bs-btn-disabled-border-color: #07B951;
}

thead {
    background-color: rgba(217, 217, 217, 0.18);
}

.mb-1 {
    margin-bottom: .25rem !important;
    color : white;
}