<div class="col-2 bg-dark p-4">
  <h4 class="text-center mb-4">Student Manager</h4>
  <p class="text-light bg-dark">Student Operations</p>
  <a href="{{ url_for('add_student') }}" class="btn btn-success w-100 mb-2">+ Add Student</a>
  <button class="btn btn-warning w-100 mb-2">✏ Update Student</button>
  <button class="btn btn-danger w-100 mb-4">🗑 Delete Student</button>

  <p class="text-light bg-dark">Academic Setup</p>
  <button class="btn btn-success w-100 mb-2">🏛 Manage College</button>
  <button class="btn btn-success w-100 mb-2">📚 Manage Program</button>

  <div class="card text-center mt-4 card-custom">
    <div class="card-body">
      <h5>100</h5>
      <small>Total Students</small>
    </div>
  </div>
</div>
